<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs justify-content-center">
	<li [ngbNavItem]="queue">
		<a ngbNavLink>{{queue}}</a>
		<ng-template ngbNavContent>
      <app-queue-view></app-queue-view>
		</ng-template>
	</li>
  <li [ngbNavItem]="consumer">
		<a ngbNavLink>{{consumer}}</a>
		<ng-template ngbNavContent>
			<app-consumer-view></app-consumer-view>
		</ng-template>
	</li>
	<li [ngbNavItem]="message">
		<a ngbNavLink>{{message}}</a>
		<ng-template ngbNavContent>
			<app-message-view></app-message-view>
		</ng-template>
	</li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<pre>Active: {{ active }}</pre>
